.page {
    height: 75vw;
    width: 80vw;
    text-align: center;
    margin-top: 2vw;
}

.pageHead {
    margin-left: 10vw;
    margin-right: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}

.pageSubhead {    
    width: 50vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    /* column-gap: 29vw; */
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 1vw;
}

.pageAuthor {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.pageDate {
    display: flex;
    margin-left: auto;
}

.pageContent {
    height: 67vw;
    margin-left: 10vw;
    margin-right: 8vw;
    text-align: left;
}